@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 960px;
  margin: 0 auto;

  .topbar {
    width: 100%;
    height: 1.8em;
    padding-top: 2px;
    background-color: #446880;
    position: relative;

    button,
    img {
      display: none;
      cursor: pointer;
    }

    .searchDiv {
      display: none;
      position: absolute;
      right: 0;
      top: 100%;

      form {
        animation: searchDivAnim 0.2s linear;
        height: 50px;
        width: 183px !important;
        display: flex;
        align-items: center;
        position: absolute;
        top: 100%;
        right: 0;
        background: #fff;
        max-width: 500px;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
        padding: 14px 10px;
        color: #666;

        input {
          border: none;
          max-width: 100%;
          outline: none;

          &::placeholder {
            font-size: 12px;
            font-family: "Merriweather Sans", sans-serif;
          }
        }

        i {
          position: absolute;
          right: 15px;
          font-size: 14px;
        }
      }
    }

    ul.nav-links {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      list-style: none;

      li {
        line-height: 1.3em;
        padding: 4px 12px;
        font-family: "Merriweather Sans", sans-serif;
        font-size: 11px;

        &:hover {
          background-color: #d8770e;
        }

        &:first-child {
          padding: 4px 20px 4px 12px;
        }

        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4) {
          padding: 4px 5px;
        }

        a {
          text-decoration: none;
          color: #fff;

          i {
            font-size: 16px;
            padding: 0 4px;
          }
        }
      }
    }
  }

  header.header {
    display: flex;
    padding: 25px 35px;

    nav {
      margin-top: 25px;
      font-family: "Merriweather Sans", sans-serif;
      font-size: 14px;
      font-weight: 600;

      ul {
        display: flex;
        list-style: none;
        line-height: 1.3em;
        margin-block-start: 1em;
        margin-block-end: 1em;
        padding-inline-start: 40px;

        li {
          margin: 0 10px;
          cursor: pointer;

          a {
            text-decoration: none;
            color: #000;

            i {
              font-size: 14px;
              font-weight: 900;
            }
          }

          ul {
            display: none;
            flex-direction: column;
            padding: 0;
            position: absolute;
            box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
            animation: linksAnim 0.1s ease-out;

            li {
              padding: 15px 20px;
              font-size: 14px;
              font-family: "Merriweather Sans", sans-serif;
              color: #44667c;

              &:hover {
                color: #d8770e;
              }
            }
          }
        }
      }
    }
  }
}

.displayNone {
  height: inherit !important;
  overflow: hidden;
  -webkit-transition: height 1s ease;
  -moz-transition: height 1s ease;
  -o-transition: height 1s ease;
  transition: height 1s ease;
  display: flex !important;
  flex-direction: column;
}

@media screen and (max-width: 960px) {
  .container {
    width: 100%;

    .topbar {
      height: 48px;
      padding: 0 10px;
      display: flex;
      justify-content: space-between;
      transition: 0.5s ease;

      button,
      img {
        display: block;
      }

      ul.nav-links {
        li {
          display: none;
          background-color: transparent;

          &:first-child {
            display: block;

            &:hover {
              background-color: transparent;
            }
          }
        }
      }

      button {
        padding: 14.6px 10px;
        background-color: transparent;
        outline: none;
        border: none;
        cursor: pointer;

        i {
          color: #fff;
          font-weight: 800;
          font-size: 16px;
        }
      }

      img {
        height: 25px;
        margin: 16px 0;
      }
    }

    .header {
      display: none !important;
    }
  }
}

.mobile-nav {
  position: absolute;
  margin-left: -275px;
  margin-top: -48px;
  width: 275px;
  transition: all 0.5s ease;

  ul {
    background-color: #446880;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: inset -7px 0 18px -7px rgba(0, 0, 0, 0.6);
    list-style: none;
    margin-top: 12px;

    &:first-child {
      margin-top: 0 !important;
    }

    li {
      font-family: "Merriweather Sans", sans-serif;
      font-size: 14px;
      font-weight: 600;
      color: #fff;
      cursor: pointer;
      padding: 12px 25px;
      padding-bottom: 0;
      transition: all 0.5s ease;

      &:nth-last-child(1),
      &:nth-last-child(2),
      &:nth-last-child(3),
      &:nth-last-child(4),
      &:nth-last-child(5) {
        padding: 12px 25px;
      }

      &:nth-last-child(5) {
        i {
          background-color: #fff;
          color: #446880;
          padding: 2.5px;
          border-radius: 3px;
        }
      }

      ul {
        list-style: none;
        margin-left: -25px;
        width: 275px;
        height: 0;

        li {
          background-color: #446880;
          padding-bottom: 12px;
        }
      }

      a {
        text-decoration: none;
        color: #fff;
      }

      span {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}

.marginLeft0 {
  margin-left: 0;
}

.marginLeft275 {
  margin-left: 275px;
}

.bgOrange {
  background-color: #d8770e !important;
}

.shown {
  display: block !important;
}

@keyframes searchDivAnim {
  from {
    top: 140%;
  }

  to {
    top: 100%;
  }
}

@keyframes linksAnim {
  from {
    margin-top: 50px;
    opacity: 0;
  }

  to {
    margin-top: 15px;
    opacity: 1;
  }
}

.none {
  display: none !important;
}

.noneMobile {
  display: none !important;
  padding-bottom: 12px;
}

.fa-up-right-from-square {
  margin-right: 16px !important;
}

#homeMobile {
  background-color: #d8770e;
  padding-bottom: 12px;
}
